.col-md-3 {
  text-align: center;
  margin: 10px;
  padding-top: 15px;
  padding-bottom: 150px;
  border: grey solid;
  border-radius: 20px;
  background-color: rgba(220, 220, 220, .3);
}

.row {
  margin-top: ;
}

h1 {
  text-align: center;
  margin: 75px;
  font-family: cursive;
}

p {
  display: none;
}

h3:hover {
  text-decoration: underline;
}

h3 {
  cursor: pointer;
}
